:host ::ng-deep {
  ion-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 0;
  }

  ion-list {
    padding-top: 20px;
  }

  ion-label {
    white-space: initial !important;
  }

  ion-toolbar {
    --background: #0c9abe;
  }

  ion-content {

  }

  ion-fab-button {
    --background: #0c9abe;
  }
}

.title {
  display: flex
}

.text-user {
  position: absolute;
  text-align: right;
  width: 98%;
  top: 15%;
}

.margin-icon {
  margin-right: 7px;
}

.logout {
  color: white;
  font-size: 14px;
  position: absolute;
  text-align: right;
  width: 90%;
  top: 8px;
}
