:host ::ng-deep {
  ion-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
  }

  ion-list {
    padding-top: 20px;
  }

  ion-label {
    white-space: initial !important;
  }

  ion-toolbar {
    --background: #0c9abe;
  }

  ion-content {

  }

  ion-fab-button {
    --background: #0c9abe;
  }
}

.title {
  display: flex
}

.margin-icon {
  margin-right: 7px;
}

.logout {
  left: 50%;
  color: white;
  font-size: 15px;
  position: relative;
}
