<ion-header [translucent]="true">
    <ion-toolbar >
        <ion-title class="teste">
            <div style="display: flex">
            <ion-icon style="margin-right: 7px" name="receipt-outline"></ion-icon>
            <ion-label>{{'TAREFAS'}}</ion-label>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item *ngIf="tasks.length < 1">
            <ion-label>{{'Não há tarefa'}}</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let task of tasks">
            <ion-item>
                <ion-label *ngIf="task.done">
                    <del>{{ task.name }}</del>
                </ion-label>
                <ion-label *ngIf="!task.done">{{ task.name }}</ion-label>
                <ion-icon *ngIf="task.done" name="checkmark-outline" slot="start"></ion-icon>
                <ion-icon *ngIf="!task.done" name="alarm-outline" slot="start"></ion-icon>

            </ion-item>
            <ion-item-options side="start">
                <ion-item-option *ngIf="task.done" (click)="changeStatus(task)">Concluída</ion-item-option>
                <ion-item-option *ngIf="!task.done" (click)="changeStatus(task)">Pendente</ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option (click)="deleteModal(task)" color="danger">Excluir</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
